body {
	background-color: #404040;
	margin-top: 0px;
	color: white;
}

main {
	margin: auto;
	background-color: #202020;
	width: 90%;
	padding: 10px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

#PictureSection {
	clear: both;
}

#OtherOptionsSection {
	clear: both;
}

#MandelPictureDiv {
	float: left;
	width: 75%;
	display: flex;
	justify-content: center;
}

#CreateFractalDiv {
	float: left;
	width: 25%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-content:  center;
	flex-wrap: wrap;
}

#DrawButtonDiv {
	display: flex;
	justify-content: center;
}

#MandelPicture {
	border: 5px solid black;
	padding: 5px;
	background-color: #404040;
}

#ProgressBar {
	width: 80%;
	margin: 10px;
}

#CreateFractalForm {
	border: 5px solid black;
	padding: 12px;
	background-color: #404040;
}


#DrawButton {
	font-size: 18px;
}