body {
	background-color: #404040;
	margin-top: 0px;
	color: white;
}

main {
	margin: auto;
	background-color: #202020;
	width: 80%;
	padding: 10px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

#MandelPictureSection{
	margin: auto;
	width: 800px;
}

#MandelPicture {
	border: 5px solid black;
	padding: 5px;
	background-color: #a0a0a0;
}